* {
  margin: 0;
  padding: 0;
  font-family: "Baskerville, Times New ROman, serif";
  --card-color: white;
}

.container {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 4fr;
  grid-auto-flow: row;
}

.header {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  padding: 20px 20px 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.searchBar {
  display: grid;
  grid-template-columns: 1.5fr 17fr;
  grid-row: 1 / 2;
  padding-left: 10px;
}

.welcome {
  padding-left: 20px;
}

.identity {
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  justify-self: center;
  width: 50%;
  grid-auto-flow: column;
  grid-row: 1 / 2;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  align-self: self-end;
  grid-template-columns: 1fr auto auto 1fr;
  justify-content: end;
  gap: 5%;
}

.buttons button {
  min-width: max-content;
  padding: 8px 24px;
  width: auto;
  background-color: lightblue;
  border: none;
  border-radius: 1em;
  color: black;
  font-size: 14px;
}

.buttons .share {
  max-width: fit-content;
}

.buttons .new {
  grid-column: 2;
}
.buttons .upload {
  grid-column: 3;
}
.buttons .share {
  grid-column: 4;
}

button,
.searchButton {
  width: 50%;
  cursor: pointer;
}

.searchButton {
  cursor: pointer;
  border: none;
}

.searchButton {
  background-color: white;
}

input {
  border-radius: 1em;
  background-color: rgb(216, 214, 214);
  border-style: none;
  padding: 5px;
}

.leftSideBar {
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: lightblue;
  padding: 20px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 4vh;
}

.wrapper {
  display: grid;
  align-self: center;
  font-size: 2em;
  box-sizing: border-box;
  color: black;
  margin: 0;
  background-color: lightblue;
  font-weight: 700;
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}

.dashboardTitle {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, lightblue 68%);
  background: linear-gradient(177deg, black 53%, lightblue 68%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}

.firstHalf {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 4vh;
  row-gap: 10px;
}

.firstHalf a,
.secondHalf a {
  text-decoration: none;
  color: black;
}

.firstHalf a:hover,
.secondHalf a:hover {
  color: coral;
  text-decoration: underline;
}

.secondHalf {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 4vh;
  row-gap: 10px;
}

.mainContent {
  background-color: rgb(216, 214, 214);

  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.projects {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 20px;
  background-color: rgb(216, 214, 214);
  margin-bottom: 4vh;
  padding: 20px;
}

.projects-title {
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 16px;
}

.project .title {
  font-weight: 700;
  padding-bottom: 10px;
}

.project {
  background-color: white;
  border-radius: 1em;
  padding: 20px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-left: 8px solid coral;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
}

.project a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover::before {
  opacity: 1;
}

.project:hover > * {
  opacity: 0;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.project1::before {
  background-image: url("projectpics/project1.png");
  src: "https://abigjuicyburger.github.io/odin-recipes/";
  cursor: pointer;
}

.project2::before {
  background-image: url("projectpics/project2.png");
}

.rightSideBar {
  background-color: rgb(216, 214, 214);
  grid-row: 1 / 4;
  margin-bottom: 4vh;
  display: grid;
  padding: 20px;
  width: 80%;
  grid-template-rows: 1fr 1fr;
  gap: 10%;
}

.announcements {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.trending {
  display: grid;
  padding-top: 10px;
  gap: 20px;
}

.companylogo {
  width: 70%;
}

.logo {
  width: 21px;
}

.card,
.trendingInner {
  display: grid;
  grid-template: autofill, minmax(3, 1fr);
  background-color: white;
  border-radius: 1em;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-inner {
  display: grid;
  grid-template: 1fr;
  gap: 1px;
  background-color: #ccc;
}

.card-inner p {
  font-weight: bold;
}

.card p {
  background-color: white;
  padding: 10px;
  margin: 0;
  grid-column: 1 / 3;
}

/* .card,
.profile {
  padding: 10px;
} */
